<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fs.mapper.NewsMapper">

<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'S'.toString()">
							news_subject like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							news_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
<select id="getList" resultType="org.fs.domain.NewsVO">
<![CDATA[
select * from NEWS where news_code > 0 rownum <= 100
]]>
</select>



<insert id="insert">
insert into NEWS (NEWS_CODE, NEWS_SUBJECT, NEWS_CONTENT, NEWS_DIVISION, NEWS_REGDATE)
 values (NEWS_SEQ.nextval, #{news_subject}, #{news_content}, #{news_division}, SYSDATE)
</insert>

<insert id="insertSelectKey">

<selectKey keyProperty="news_code" order="BEFORE"
	resultType="int">
	select NEWS_SEQ.nextval from dual
	</selectKey>

	insert into NEWS (NEWS_CODE, NEWS_DIVISION, NEWS_SUBJECT, NEWS_CONTENT, NEWS_REGDATE)
	values (#{news_code}, #{news_division}, #{news_subject}, #{news_content}, SYSDATE)
</insert>

<select id="read" resultType="org.fs.domain.NewsVO">
	select * from NEWS where NEWS_CODE = #{news_code}
</select>

<delete id="delete">
	delete NEWS where NEWS_CODE = #{news_code}
</delete>

<update id="update">
	update NEWS
	set NEWS_SUBJECT = #{news_subject},
	NEWS_DIVISION = #{news_division},
	NEWS_CONTENT = #{news_content},
	NEWS_REGDATE = sysdate
	where NEWS_CODE = #{news_code}
</update>


<select id="getListWithPaging" resultType="org.fs.domain.NewsVO">
  <![CDATA[
  select 
    NEWS_CODE, NEWS_DIVISION, NEWS_SUBJECT, NEWS_CONTENT, NEWS_REGDATE
  from 
      (
      select /*+INDEX_DESC(news pk_news) */
        rownum rn, NEWS_CODE, NEWS_DIVISION, NEWS_SUBJECT, NEWS_CONTENT, NEWS_REGDATE
      from 
        NEWS
      where 
  ]]>

  <include refid="criteria"></include> 
      
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
  </select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from NEWS 
		where 
		
		<include refid="criteria"></include>
		
		news_code > 0
	</select>



</mapper>