<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fs.mapper.StatsMapper">

<select id="getList" resultType="org.fs.domain.StatsVO">
<![CDATA[
select SUBJ_CODE, CTGR_CODE, MB_EMAIL, MB_NICK, SUBJ_NM, SUBJ_REGDATE, SUBJ_STARTDATE, SUBJ_ENDDATE from subject
]]>
</select>

<select id="getMemberList" resultType="org.fs.domain.StatsVO">	<!-- MEMBER 테이블에서 전체 싹 뽑는 SQL문 -->
SELECT mb_att_ctgr_code, 
       mb_pwd, 
       mb_addr, 
       mb_birthdate, 
       mb_sex, 
       mb_phone, 
       mb_reg_atrt, 
       mb_joindate 
FROM   member 
</select>

 
<select id="getAttCategory" resultType="org.fs.domain.StatsVO">	<!-- ATT_CATEGORY에서 전체 싹 뽑는 SQL문 -->
SELECT mb_att_ctgr_code, 
       mb_email, 
       ctgr_code1, 
       ctgr_code2, 
       ctgr_code3, 
       ctgr_code5, 
       mb_marriage_yn, 
       mb_child_yn, 
       mb_home_yn, 
       mb_car_yn 
FROM   att_category  
</select>

<select id="getCategory" resultType="org.fs.domain.StatsVO">	<!-- 카테고리별 갯수,퍼센트 구하는 SQL문  -->
SELECT (SELECT Count(*) 
        FROM   (SELECT * 
                FROM   area 
                WHERE  Substr(mb_addr, 1, 5) LIKE '%' || #{area} || '%') 
        WHERE  ctgr_code = c.ctgr_code)AS count, 
       c.ctgr_code, 
       Round(( Ratio_to_report((SELECT Count(*) AS num 
                                FROM   (SELECT * 
                                        FROM   area 
                                        WHERE  Substr(mb_addr, 1, 5) LIKE '%' || #{area} || '%') 
                                WHERE  ctgr_code = (SELECT ctgr_code 
                                                    FROM   category 
                                                    WHERE 
                                       ctgr_code = c.ctgr_code))) OVER() * 100 ), 2) || '%' PERCENT, 
       c.ctgr_nm 
FROM   subject a, 
       member b, 
       category c 
WHERE  a.mb_nick = b.mb_nick 
       AND c.ctgr_code = a.ctgr_code 
GROUP  BY c.ctgr_code, 
          c.ctgr_nm 
ORDER  BY ctgr_code 
</select>

<select id="getCategoryAge" parameterType="map" resultType="org.fs.domain.StatsVO">
SELECT (SELECT Count(*) 
        FROM   (SELECT * 
                FROM   (SELECT c.ctgr_code, 
                               c.ctgr_nm, 
                               b.mb_nick, 
                               b.mb_addr, 
                               b.mb_birthdate 
                        FROM   subject a, 
                               member b, 
                               category c 
                        WHERE  a.mb_nick = b.mb_nick 
                               AND c.ctgr_code = a.ctgr_code) 
                WHERE  Nvl(Trunc(Months_between(sysdate, To_date(Substr(mb_birthdate, 1, 4), 'YYYY')) /12), 0)BETWEEN #{startAge} AND #{endAge}) 
        WHERE  ctgr_code = c.ctgr_code)AS count, 
       c.ctgr_code, 
       c.ctgr_nm, 
       Round(( Ratio_to_report((SELECT Count(*) AS num 
                                FROM   (SELECT * 
                                        FROM   area 
                                        WHERE  Nvl(Trunc(Months_between(sysdate,To_date(Substr(mb_birthdate, 1, 4),'YYYY')) / 12), 0)BETWEEN #{startAge} AND #{endAge}) 
                                WHERE  ctgr_code = (SELECT ctgr_code 
                                                    FROM   category 
                                                    WHERE 
                                       ctgr_code = c.ctgr_code))) OVER() * 100 ), 2) || '%'  PERCENT
FROM   subject a, 
       member b, 
       category c 
WHERE  a.mb_nick = b.mb_nick 
       AND c.ctgr_code = a.ctgr_code 
GROUP  BY c.ctgr_code, 
          c.ctgr_nm 
ORDER  BY ctgr_code 
</select>

<select id="getCategorySex" resultType="org.fs.domain.StatsVO">
SELECT (SELECT Count(*) 
        FROM   (SELECT * 
                FROM   (SELECT c.ctgr_code, 
                               c.ctgr_nm, 
                               b.mb_nick, 
                               b.mb_addr, 
                               b.mb_birthdate, 
                               b.mb_sex 
                        FROM   subject a, 
                               member b, 
                               category c 
                        WHERE  a.mb_nick = b.mb_nick 
                               AND c.ctgr_code = a.ctgr_code) 
                WHERE  mb_sex = #{sex}) 
        WHERE  ctgr_code = c.ctgr_code)AS count, 
       c.ctgr_code, 
       c.ctgr_nm, 
       Round(( Ratio_to_report((SELECT Count(*) AS num 
                                FROM   (SELECT * 
                                        FROM   area 
                                        WHERE  mb_sex = #{sex}) 
                                WHERE  ctgr_code = (SELECT ctgr_code 
                                                    FROM   category 
                                                    WHERE 
                                       ctgr_code = c.ctgr_code))) OVER() * 100 ), 2) || '%'  PERCENT 
FROM   subject a, 
       member b, 
       category c 
WHERE  a.mb_nick = b.mb_nick 
       AND c.ctgr_code = a.ctgr_code 
GROUP  BY c.ctgr_code, 
          c.ctgr_nm 
ORDER  BY ctgr_code 
</select>

<select id="getCategoryMarriage" resultType="org.fs.domain.StatsVO">
SELECT (SELECT Count(*) 
        FROM   (SELECT * 
                FROM   area 
                WHERE  mb_marriage_yn = #{marriage}) 
        WHERE  ctgr_code = c.ctgr_code)AS count, 
       c.ctgr_code, 
       c.ctgr_nm, 
       Round(( Ratio_to_report((SELECT Count(*) AS num 
                                FROM   (SELECT * 
                                        FROM   area 
                                        WHERE  mb_marriage_yn = #{marriage}) 
                                WHERE  ctgr_code = (SELECT ctgr_code 
                                                    FROM   category 
                                                    WHERE 
                                       ctgr_code = c.ctgr_code)))OVER() * 100 ), 2) || '%' PERCENT 
FROM   subject a, 
       member b, 
       category c 
WHERE  a.mb_nick = b.mb_nick 
       AND c.ctgr_code = a.ctgr_code 
GROUP  BY c.ctgr_code, 
          c.ctgr_nm 
ORDER  BY ctgr_code 
</select>
 
 <!-- STATS_TABLE 리스트 뽑는 SQL-->
<select id="getTable" resultType="org.fs.domain.StatsVO">
SELECT 
       subj_regdate, 
       subj_code, 
       ctgr_nm, 
       mb_nick, 
       mb_sex, 
       mb_birthdate, 
       mb_addr, 
       qst_img, 
       subj_nm, 
       subj_startdate, 
       subj_enddate 
FROM   (SELECT rownum rn,
	 		   
               subj_regdate, 
               subj_code, 
               ctgr_nm, 
               mb_nick, 
               mb_sex, 
               mb_birthdate, 
               mb_addr, 
               qst_img, 
               subj_nm, 
               subj_startdate, 
               subj_enddate 
        FROM   stats_table 
        WHERE  ctgr_nm LIKE '%'||#{ctgr_nm}||'%'
               AND mb_sex LIKE '%'|| #{mb_sex}||'%' 
               AND Substr(mb_addr, 1, 5) LIKE '%'||#{mb_addr}||'%' 
               AND Nvl(Trunc(Months_between(sysdate, To_date(Substr(mb_birthdate, 1, 4), 'YYYY')) /12), 0)BETWEEN #{startAge} AND #{endAge}
               <choose>
      				<when test="stats == '전체'">
       				</when>
       		
       				<when test="stats == '대기'">
      						<![CDATA[ AND SUBJ_STARTDATE > to_char(sysdate,'yy/mm/dd') ]]>
      				</when>
      		
       				<when test="stats == '진행중'"> 
	   						<![CDATA[ AND subj_startdate <= to_char(sysdate, 'yy/mm/dd') AND subj_enddate > to_char(sysdate,'yy/mm/dd') ]]>
	   				</when>
	   		
	   				<when test="stats == '완료'">
	   						<![CDATA[ AND subj_enddate <= to_char(sysdate,'yy/mm/dd') ]]>
	   				</when>
	   				
			   	</choose>
			  <![CDATA[ 	
	   		  AND rownum <=10)
	   		  where rn >=1
	   		  ]]>
</select>


<!-- STATS_TABLE 전체 ROW 갯수 세는 SQL-->
<select id="getTableCount" resultType="int">
SELECT count(subj_regdate) 
FROM   (SELECT rownum rn,
               subj_regdate, 
               subj_code, 
               ctgr_nm, 
               mb_nick, 
               mb_sex, 
               mb_birthdate, 
               mb_addr, 
               qst_img, 
               subj_nm, 
               subj_startdate, 
               subj_enddate 
        FROM   stats_table 
        
        <choose>
        	<when test="(subj_nm =='' and mb_nick =='')or(subj_nm == null and mb_nick == null) ">
       			WHERE  ctgr_nm LIKE '%'||#{ctgr_nm}||'%'
               		AND mb_sex LIKE '%'|| #{mb_sex}||'%' 
               		AND Substr(mb_addr, 1, 5) LIKE '%'||#{mb_addr}||'%'  
               		AND Nvl(Trunc(Months_between(sysdate, To_date(Substr(mb_birthdate, 1, 4), 'YYYY')) /12), 0)BETWEEN #{startAge} AND #{endAge} 	
        	</when>
        	<otherwise>
        		WHERE  MB_NICK LIKE '%'||#{mb_nick}||'%'
              		AND SUBJ_NM LIKE '%'||#{subj_nm}||'%')
        	</otherwise>
        </choose>
       
              <choose>
              
      				<when test="stats == '전체'.toString()">
      				)
       				</when>
       		
       				<when test="stats == '대기'.toString()">
      						<![CDATA[ AND SUBJ_STARTDATE > to_char(sysdate,'yy/mm/dd')) ]]>
      				</when>
      		
       				<when test="stats == '진행중'.toString()"> 
	   						<![CDATA[ AND subj_startdate <= to_char(sysdate, 'yy/mm/dd') AND subj_enddate > to_char(sysdate,'yy/mm/dd')) ]]>
	   				</when>
	   		
	   				<when test="stats == '완료'.toString()">
	   						<![CDATA[ AND subj_enddate <= to_char(sysdate,'yy/mm/dd')) ]]>
	   				</when>
	   				
			   	</choose>
</select>




<!--  그냥 위에 셀렉트 박스 5개 눌러서 나오는 내용 -->
<select id="getTableTest" resultType="org.fs.domain.StatsVO">
SELECT (SELECT Count(d.asw_content)
        FROM   subject a, 
               question b, 
               item c, 
               answer d 
        WHERE  a.subj_code = b.subj_code 
               AND b.qst_code = c.qst_code 
               AND c.item_code = d.item_code 
               AND b.qst_code = (SELECT b.qst_code 
                                 FROM   subject a, 
                                        question b 
                                 WHERE  a.subj_code = b.subj_code 
                                        AND a.subj_code = p.subj_code
                                        AND rownum = 1)) as count,
       subj_regdate, 
       subj_code, 
       ctgr_nm, 
       mb_nick, 
       mb_sex, 
       mb_birthdate, 
       mb_addr, 
       qst_img, 
       subj_nm, 
       subj_startdate, 
       subj_enddate 
FROM   (SELECT rownum rn,
	 		    
               subj_regdate, 
               subj_code, 
               ctgr_nm, 
               mb_nick, 
               mb_sex, 
               mb_birthdate, 
               mb_addr, 
               qst_img, 
               subj_nm, 
               subj_startdate, 
               subj_enddate 
        FROM   stats_table 
        WHERE  ctgr_nm LIKE '%'||#{vo.ctgr_nm}||'%'
               AND mb_sex LIKE '%'|| #{vo.mb_sex}||'%' 
               AND Substr(mb_addr, 1, 5) LIKE '%'||#{vo.mb_addr}||'%'  
               AND Nvl(Trunc(Months_between(sysdate, To_date(Substr(mb_birthdate, 1, 4), 'YYYY')) /12), 0)BETWEEN #{vo.startAge} AND #{vo.endAge}
               <!-- AND MB_NICK = {vo.mb_nick}
               AND SUBJ_NM LIKE '%'||{vo.subj_nm}||'%' -->
              <choose>
              
      				<when test="vo.stats == '전체'.toString()">
       				</when>
       		
       				<when test="vo.stats == '대기'.toString()">
      						<![CDATA[ AND SUBJ_STARTDATE > to_char(sysdate,'yy/mm/dd') ]]>
      				</when>
      		
       				<when test="vo.stats == '진행중'.toString()"> 
	   						<![CDATA[ AND subj_startdate <= to_char(sysdate, 'yy/mm/dd') AND subj_enddate > to_char(sysdate,'yy/mm/dd') ]]>
	   				</when>
	   		
	   				<when test="vo.stats == '완료'.toString()">
	   						<![CDATA[ AND subj_enddate <= to_char(sysdate,'yy/mm/dd') ]]>
	   				</when>
	   				
			   	</choose>
			  <![CDATA[ 	
	   		  AND rownum <= #{cri.pageNum} * #{cri.amount}) p
	   		  where rn > (#{cri.pageNum} -1) * #{cri.amount}
	   		  ]]>
GROUP BY 
       subj_regdate, 
       subj_code, 
       ctgr_nm, 
       mb_nick, 
       mb_sex, 
       mb_birthdate, 
       mb_addr, 
       qst_img, 
       subj_nm, 
       subj_startdate, 
       subj_enddate
       order by subj_regdate desc
</select>


<!--  검색 내용에 맞게 데이터 내용 나오는 문 -->
<select id="getTableSearch" resultType="org.fs.domain.StatsVO">
SELECT (SELECT Count(d.asw_content)
        FROM   subject a, 
               question b, 
               item c, 
               answer d 
        WHERE  a.subj_code = b.subj_code 
               AND b.qst_code = c.qst_code 
               AND c.item_code = d.item_code 
               AND b.qst_code = (SELECT b.qst_code 
                                 FROM   subject a, 
                                        question b 
                                 WHERE  a.subj_code = b.subj_code 
                                        AND a.subj_code = p.subj_code
                                        AND rownum = 1)) as count,
       subj_regdate, 
       subj_code, 
       ctgr_nm, 
       mb_nick, 
       mb_sex, 
       mb_birthdate, 
       mb_addr, 
       qst_img, 
       subj_nm, 
       subj_startdate, 
       subj_enddate 
FROM   (SELECT rownum rn,
	 		    
               subj_regdate, 
               subj_code, 
               ctgr_nm, 
               mb_nick, 
               mb_sex, 
               mb_birthdate, 
               mb_addr, 
               qst_img, 
               subj_nm, 
               subj_startdate, 
               subj_enddate 
        FROM   stats_table  
        WHERE  MB_NICK LIKE '%'||#{vo.mb_nick}||'%'
               AND SUBJ_NM LIKE '%'||#{vo.subj_nm}||'%'
	   		   <![CDATA[ 	
	   		  AND rownum <= #{cri.pageNum} * #{cri.amount}) p
	   		  where rn > (#{cri.pageNum} -1) * #{cri.amount}
	   		  ]]>
GROUP BY subj_regdate, 
         subj_code, 
         ctgr_nm, 
         mb_nick, 
         mb_sex, 
         mb_birthdate, 
         mb_addr, 
         qst_img, 
         subj_nm, 
         subj_startdate, 
         subj_enddate
         order by subj_regdate desc
</select>





<select id="getAge" resultType="org.fs.domain.StatsVO">	<!-- 멤버 테이블에서 나이 구하는 SQL문 -->
SELECT Nvl(Trunc(Months_between(sysdate, To_date(Substr(mb_birthdate, 1, 4), 'YYYY')) /12), 0) AS age 
FROM   member 
</select>

<select id="getAddr" resultType="int">		<!--  주소 구하는 SQL문 -->
SELECT Count(*) 
FROM   (SELECT mb_addr
        FROM   member
        WHERE  Substr(mb_addr, 1, 5) LIKE '%' || #{addr}|| '%')
</select>

<!--  <select id="getAddr" resultType="int">
select count(*) from (select MB_ADDR from member where  MB_ADDR like '%서울%')

</select>-->
<select id="getStatsContent" resultType="org.fs.domain.StatsVO">
SELECT DISTINCT a.subj_code, 
                b.qst_code, 
                c.item_code,
                b.qst_type,
                c.item_img, 
                e.ctgr_nm,
                a.subj_nm, 
                b.qst_content, 
                c.item_content,
                (SELECT count(asw_content)
                 FROM   answer 
                 WHERE  item_code = c.item_code)AS ASW_COUNT,
                 ROUND(RATIO_TO_REPORT((SELECT count(asw_content)
                 FROM   answer
                 WHERE  item_code = c.item_code)) OVER(PARTITION BY b.qst_code),2)*100||'%' PERCENT,
                a.subj_startdate, 
                a.subj_enddate, 
                c.item_regdate 
FROM   subject a, 
       question b, 
       item c, 
       answer d, 
       category e 
WHERE  a.subj_code = b.subj_code 
       AND b.qst_code = c.qst_code 
       AND a.ctgr_code = e.ctgr_code 
       AND a.subj_code = #{subj_code}
       AND b.qst_code = c.qst_code
GROUP  BY a.mb_nick, 
          a.subj_code, 
          b.qst_code, 
          c.item_code,
          b.qst_type,
          c.item_img, 
          e.ctgr_nm, 
          a.subj_nm, 
          b.qst_content, 
          c.item_content, 
          c.item_regdate, 
          a.subj_startdate, 
          a.subj_enddate
order by qst_code desc, asw_count desc
</select>

<select id="getStatsContentShortAnswer" resultType="org.fs.domain.StatsVO">
SELECT DISTINCT a.subj_code, 
                b.qst_code, 
                c.item_code,
                b.qst_type,
                c.item_img, 
                e.ctgr_nm,
                a.subj_nm, 
                d.asw_content,
                b.qst_content, 
                c.item_content,
                (SELECT count(asw_content)
                 FROM   answer 
                 WHERE  item_code = c.item_code)AS ASW_COUNT,
                 ROUND(RATIO_TO_REPORT((SELECT count(asw_content)
                 FROM   answer
                 WHERE  item_code = c.item_code)) OVER(PARTITION BY b.qst_code),2)*100||'%' PERCENT,
                a.subj_startdate, 
                a.subj_enddate, 
                c.item_regdate 
FROM   subject a, 
       question b, 
       item c, 
       answer d, 
       category e 
WHERE  a.subj_code = b.subj_code 
       AND b.qst_code = c.qst_code 
       AND a.ctgr_code = e.ctgr_code 
       AND a.subj_code = #{subj_code}
       AND b.qst_code = c.qst_code
       AND c.item_code=d.item_code
       AND qst_type =1
GROUP  BY a.mb_nick, 
          a.subj_code, 
          b.qst_code, 
          c.item_code,
          b.qst_type,
          c.item_img, 
          e.ctgr_nm, 
          a.subj_nm, 
          b.qst_content, 
          c.item_content, 
          c.item_regdate, 
          a.subj_startdate, 
          a.subj_enddate,
          d.asw_content
order by qst_code desc, asw_count desc
</select>

<select id="contentCount" resultType="int">
SELECT Count(d.asw_content)
        FROM   subject a, 
               question b, 
               item c, 
               answer d 
        WHERE  a.subj_code = b.subj_code 
               AND b.qst_code = c.qst_code 
               AND c.item_code = d.item_code 
               AND b.qst_code = (SELECT b.qst_code 
                                 FROM   subject a, 
                                        question b 
                                 WHERE  a.subj_code = b.subj_code 
                                        AND a.subj_code = #{subj_code}
                                        AND rownum = 1)
</select>


<select id="header" resultType="org.fs.domain.StatsVO">
select a.subj_code,a.ctgr_code,b.ctgr_nm ,a.mb_email, a.mb_nick, a.subj_nm, a.subj_regdate, a.subj_startdate, a.subj_enddate from subject a, category b
where b.CTGR_CODE = a.CTGR_CODE and
(a.ctgr_code = (select CTGR_CODE1 from ATT_CATEGORY where MB_EMAIL = #{mb_email}) 
or a.ctgr_code = (select CTGR_CODE2 from ATT_CATEGORY where MB_EMAIL = #{mb_email})
or a.ctgr_code = (select CTGR_CODE3 from ATT_CATEGORY where MB_EMAIL = #{mb_email})
or a.ctgr_code = (select CTGR_CODE4 from ATT_CATEGORY where MB_EMAIL = #{mb_email})
or a.ctgr_code = (select CTGR_CODE5 from ATT_CATEGORY where MB_EMAIL = #{mb_email}))
and read =0
group by a.subj_code,a.ctgr_code, a.mb_email, a.mb_nick, a.subj_nm, a.subj_regdate, a.subj_startdate, a.subj_enddate ,b.CTGR_NM
order by subj_regdate desc
</select>

<update id="headerUpdate">

update subject set read = 1 where subj_code =#{subj_code}

</update>


</mapper>