.far{
	font-size: 15px;
    color: #FFFFFF;
    font-style: unset;
    font-family: fontAwesome;

}



.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}
.nav-item.dropdown.show{
	position: relative;
	padding-bottom: 2px;
	
}

.navbar-nav .dropdown-menu-right {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-menu.show, .open>.dropdown-menu {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    display: none;
    padding: .3125rem 0;
    border: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    will-change: transform,opacity;
    transition: opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.dropdown-menu .dropdown-item, .dropdown-menu li>a {
    position: relative;
    width: auto;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #333 !important;
    font-weight: 400;
    text-decoration: none;
    font-size: .8125rem !important;
    border-radius: .125rem;
    margin: 0 .3125rem;
    transition: all 150ms linear;
    min-width: 7rem;
    padding: .625rem 1.25rem !important;
    overflow: hidden;
    line-height: 1.42857143;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .625rem 1.25rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}



.i{
	font-size: 15px;
    color: #FFFFFF;
    font-style: unset;
    font-family: fontAwesome;
    vertical-align: middle;
    margin-right: 3px;
    padding: .5rem .7rem;
}
.j{
	font-size: 19px;
    color: #FFFFFF;
    font-style: unset;
    font-family: fontAwesome;
    vertical-align: middle;
    margin-right: 3px;
    padding: .5rem .7rem;
}


.icon{
	color :#FFFFFF;
}