.row {
	disply: felx;
	flex-wrap: warp;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 0rem;
}

.grid-margin {
	margin-top: 80px;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
}
.grid-margin-table {
	margin-top: 15px;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
}
.grid-margin-table-p{
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}

.grid-margin-middle {
	margin-top: -1rem;
	margin-bottom: 1.875rem;
	margin-left: auto;
	margin-right: auto;
}

.card {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.card-mini {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e7eaed;
	border-radius: 0;
	margin-left: 0rem;

}

.main-panel {
	transition: width 0.25s ease, margin 0.25s ease;
	width: 753px;
	min-height: calc(100vh - 60px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;

}

.content-wrapper {
	background: #f3f3f3;
	padding: 2.1rem 1.04rem;
	width: 100%;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e7eaed;
	border-radius: 0;
	margin-left: 6rem;
	margin-right: auto;
}
.card-table {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e7eaed;
	border-radius: 0;
	margin-left: 0px;
	margin-right: auto;
	width : 100%;
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.card-table-p {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-top: 1px solid #e7eaed;
	border-radius: 0;
	margin-left: 0px;
	margin-right: auto;
	width : 100%;
}
.card-big {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e7eaed;
	border-radius: 0;
	margin-left: 0rem;
	margin-right: auto;
	width: 729.5px;
}

.card .card-body {
	padding: 1.5rem 1.875rem;
	margin-left: 0rem;
	margin-right: auto;
	width: 502px;
}
.card-table .card-body-table {
	padding: 1.5rem 1.875rem;
	
	
	width: 100%;
}
.card-body-table-p{
	margin-left: 0rem;
	margin-right: auto;
	width: 100%;
	
}

.card-body-mini{
		padding: 1.5rem 1.875rem;
	margin-left: 0rem;
	margin-right: auto;
	width: 360px;
	
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card .card-title {
	color: #4a4a4a;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	font-size: .875rem;
	font-weight: bold;
}

.card .card-description {
	margin-bottom: .875rem;
	font-weight: 400;
	color: #76838f;
}

.card .card-description {
	margin-bottom: .875rem;
	font-weight: 400;
	color: #76838f;
}

p {
	font-size: 0.875rem;
	line-height: 1.3rem;
	margin-bottom: .5rem;
}
.footer_text p{
	font-size: 13px;
    line-height: 1.3rem;
    margin: unset;

}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

code {
	padding: 5px;
	color: #ff4747;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	border-radius: 4px;
}

body {
	font-family: webisfree;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table {
	margin-bottom: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	word-break: break-all;
	table-layout: fixed;
	width: 441px;
}

.table-hover tbody tr:hover {
	text-align: center;
}

.table.table-hover tbody td {
	position: relative;
	margin-left: 0;
	margin-right: 15px;
	padding-left: 1rem;
	padding-right: 0rem;
	text-align: right;
	border-top: 1px solid #f3f3f3;
}

#fix {
	position: relative;
	margin-left: 0;
	margin-right: 15px;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: right;
	width: 69px;
}
#fix1 {
	
	position: relative;
	margin-left: 0;
	margin-right: 15px;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: right;
	width: 69px;
	border-top: 1px solid #000000;
	background-color: #f5f5f5;
}


.table.table-hover tbody tr:hover {
	background-color: #f5f5f5;
	pointer-events: auto;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #000;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 2px solid transparent;
	padding: 0.75rem 1.5rem;
	font-size: 0.875rem;
	line-height: 1;
	border-radius: 0.1875rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-secondary {
	color: #0c4da2;
	border-color: #0c4da2;
}
.btn-outline-secondary-all {
	color: #fff;
	background-color: #0c4da2;
	border-color: #0c4da2;
}


.btn-outline-secondary:hover {
	color: #fff;
	background-color: #0c4da2;
	border-color: #0c4da2;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(104, 104, 104, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #686868;
	background-color: transparent;
}

.btn-outline-secondary:not (:disabled ):not (.disabled ):active,
	.btn-outline-secondary:not (:disabled ):not (.disabled ).active, .show>.btn-outline-secondary.dropdown-toggle
	{
	color: #fff;
	background-color: #686868;
	border-color: #686868;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	margin-left: 36px;
}


.btn-group-list, .btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	margin-left: 5px;
    margin-bottom: 19px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn + .btn {
    border-left: 0;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
    margin-left: -1px;
}


.btn-outline-secondary:not (:disabled ):not (.disabled ):active:focus,
	.btn-outline-secondary:not (:disabled ):not (.disabled ).active:focus,
	.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(104, 104, 104, 0.5);
}
.stretch-card {
	display: -webkit-flex;
	display: -webkit-inline-box;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: stretch;
	justify-content: stretch;
	
}
.row>.stretch-card {
	display: -webkit-flex;
	display: -webkit-inline-box;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: stretch;
	justify-content: stretch;
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
/*.row>.stretch-card:hover {
	display: -webkit-flex;
	display: -webkit-inline-box;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-justify-content: stretch;
	justify-content: stretch;
	box-shadow : 0px 0px 8px;
}*/

.p{
	width:100%;
}

.width {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.button-group {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.table th, .table td {
	padding: 1.25rem 0.9375rem;
	vertical-align: top;
	border-top: 1px solid #f3f3f3;
}

.table td {
	font-size: 0.875rem;
}

.table th, .table td {
	vertical-align: middle;
	line-height: 1;
}

.table th, .table td {
	padding: 1.25rem 0.9375rem;
	vertical-align: top;
	border-top: 1px solid #f3f3f3;
}

/* 여기서부터는 TABLE */

.article-list{
    margin-top: 0;
    border-top: 1px solid #ebeef1;
} 
.article-list {
    background: #f8f9fa;
    margin-top: 8px;
    line-height: 18px;
    font-size: 14px;
    color: #7b858e;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.article-list-p{
    margin-top: 0;
    background: #f8f9fa;
    line-height: 18px;
    font-size: 14px;
    color: #7b858e;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
} 

.article-list-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 78px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #ebeef1;
    background-color: #fff;
    padding: 8px 0;
    padding-right: 14px;
}
.article-list-item-no-data {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 78px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #ebeef1;
    background-color: #fff;
    padding: 8px 0;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}
.article-list-item__vote {
    display: table-cell;
    text-align: center;
    width: 72px;
    vertical-align: middle;
}
.article-list-item__content {
    vertical-align: middle;
        padding: 5px 0px;
}
.article-list-item__title {
    display: inline;
    line-height: 20px;
    font-size: 14px;
    color: #1e2022;
    word-break: break-all;
}
a img, a span, button img, button span {
    vertical-align: middle;
}
em {
    font: inherit;
    color: #16ae81;
}
.article-list-item-meta {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list-item-meta__item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    color: #98a0a7;
    padding-left: 8px;
}

.article-list-item-meta__item:first-child{
    padding-left: 0;
    border-left:none;
}
.article-list-item__thumbnail {
	vertical-align: middle;
    display: table-cell;
    width: 93px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0px 0px 0px -12px;
    font-family: "object-fit: cover;";
    margin: 0px 0px 0px -13px;
    
}

.article-list-item-meta__item:not(:first-child)::before {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #ebeef1;
    height: 12px;
    content: "";
    margin-right: 8px;
}
.Header{
    width: 100%;
    margin: 0 auto;
    margin-top : 15px;
}
.Box {
    /*border: 1px solid #cdd2d2;*/
    background: #f2f2f2;
    border-radius: 2px;
}
form {
    display: block;
    margin-top: 0em;
}
.StatisticsFilter {
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.HeaderCell {
    border-bottom: 1px solid #d5d8d8;
    padding: 8px 0;
    color: #555e5e;
    text-align: left;
    font-weight: normal;
    text-indent: 20px;
    font-size: 14px;
}
.Cell {
    background-color: #ededed;
    border-right: 1px solid #d5d8d8;
    vertical-align: top;
}

.ButtonWrap {
    height: 152px;
    padding: 12px 20px 0;
    margin: -1px;
    overflow-y: auto;
}
.RadioButton {
    width: 95px;
    margin-bottom: 8px;
    white-space: nowrap;
}
.jcf-radio {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    width: 17px;
    height: 17px;
    margin: 0 8px 0 0;
}
.jcf-radio input[type="radio"] {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    left: 0;
    top: 0;
}
.jcf-radio.jcf-checked span {
    background: url(/resources/img/bg-radio-on.png) no-repeat;
}
.jcf-radio span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://opgg-static.akamaized.net/images/site/bg-radio-off.png) no-repeat;
}
.Label.jcf-label-active {
    color: #1f8ecd;
}
.Label {
    display: inline-block;
    max-width: 115px;
    margin-left: -27px;
    padding-left: 27px;
    color: #879292;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Label:hover {
    display: inline-block;
    max-width: 115px;
    margin-left: -27px;
    padding-left: 27px;
    color: #666666;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}


.StatisticsFilter>.Content>.Row>.Cell>.ButtonWrap::-webkit-scrollbar {
    width: 18px;
    background-color: #e1e5e5;
}
/*
::-webkit-scrollbar-corner {
  background-color: violet;
}
::-webkit-scrollbar-corner {
    background: #e1e5e5;
}
::-webkit-scrollbar-thumb {
    background-color: #cdd2d2;
}
::-webkit-scrollbar-track {
    background-color: #e1e5e5;
}
*/

::-webkit-scrollbar-track
{
	background-color: #e1e5e5;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #cdd2d2;
	border: 2px solid #cdd2d2;
}
.article-list-paging {
    border-top: 1px solid #ebeef1;
    display: table;
    width: 100%;
}
.article-list-paging-p {
    display: table;
    width: 100%;
}
.article-list-paging-content {
    text-align: center;
    padding: 12px 16px;
    line-height: 18px;
    font-size: 14px;
    color:#7b858e;
}
.article-list-paging-list {
    position: relative;
}
.article-list-paging__item--prev {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.article-list-paging__item--next {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.article-list-paging__button:first-child {
        margin: 0px 10px;
}
.article-list-paging-list:after {
    content: "";
    display: block;
    clear: both;
}
input.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
button.button:hover{
	border : 1px solid #0c4da2;
}
.article-list-paging__button {
    padding: 7px 7px 7px 16px;
}
.button {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dddfe4;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
.sub-header {
    position: relative;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    margin-top: 88px;
}
.sub-header-info {
    padding-top: 18px;
    padding-bottom: 17px;
}
.sub-header__title {
    padding-left: 16px;
    line-height: 21px;
    font-size: 18px;
    color: #1e2022;
    font-weight: 700;
}
.sub-header-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
}
.sub-header-button__item:first-child {
    margin-left: 0;
}
@media only screen and (min-width: 1024px)
.sub-header-button__item--search {
    display: none;
}
.sub-header-button__item {
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
}
.sub-header-button__item--search>.button {
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://talk.op.gg/images/icon-search@2x.png);
    background-size: 100%;
    font-size: 0;
}
.sub-header-button__item>.button {
    border: none;
}
.sub-header-button__item {
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
}
.sub-header-info {
    padding-top: 18px;
    padding-bottom: 17px;
}
.sub-header__title {
    padding-left: 16px;
    line-height: 21px;
    font-size: 18px;
    color: #1e2022;
    font-weight: 700;
}
.sub-header-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
}
.sub-header-button__item--search>.button {
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://talk.op.gg/images/icon-search@2x.png);
    background-size: 100%;
    font-size: 0;
}
.sub-link {
    overflow-x: auto;
    overflow-y: hidden;
    height: 75px;
    padding-top: 18px;
    padding-bottom: 17px;
}
.sub-link__list {
    padding: 0 16px;
    white-space: nowrap;
}
.sub-link__item:first-child{
	margin-left:0;
}
.sub-link__item--active{
	color:16ae81;
}
.sub-link__item{
	display: inline-block;
    margin-left: 18px;
    line-height: 17px;
    font-size: 14px;
    color: #7b858e;

}
.sub-link__item a{
	padding: 10px 2px 14px;
}
li>a {
    display: block;
}
.sub-header-search {
    display: block;
    position: absolute;
    right: 0;
    top:0;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-top: 20px;
}
html {
    font-family: Helvetica,Arial,Malgun Gothic,sans-serif;
}
.sub-header-search__select {
    float: left;
    width: 122px;
    padding: 9px 0 8px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebeef1;
    background: #fff;
    border-radius: 4px 0 0 4px;
    line-height: 17px;
    font-size: 14px;
    color: #98a0a7;
    background: url(https://talk.op.gg/images/icon-dropdown-down@2x.png?53a59ffc060ec3c4ef848ca47e37255f);
    background-size: 24px;
    background-position: top 5px right 5px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.sub-header-search__input {
    float: left;
    border: none;
    width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 32px 9px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ebeef1;
    line-height: 17px;
    font-size: 14px;
}
.sub-header-search__button {
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6px;
    margin-right: 8px;
    cursor: pointer;
}
button {
    background: none;
}
button {
    font-family: inherit;
    border: 0;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}
button, input {
    margin: 0;
    font-size: 14px;
    outline: 0;
    -webkit-apperance: none;
}


.sub-link.scroll-to-fixed-fixed {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

#leftleft{
	margin-left :  -33px;
}


/* stats_get.jsp */


.ContentWrap>.Content{
    margin: 10px auto 0;
}



.ContentWrap>.Content>.Box>.Content>#ChampionStatsTable>.GetTable{
	width: 100%;
    table-layout: fixed;
}

#ChampionStatsTable>.table{
	border-collapse: collapse;
    border-spacing: 0;
}

.GetTable>.Header {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.Row>.Rank{
	text-align: center;
}

.Row>.Cell>.Progress.Blue{
	background-color: #1f8ecd;
    border-color: #1a78ae;
	
}
.Row>.Cell-Top>.Progress.Blue{
	background-color: #1f8ecd;
    border-color: #1a78ae;
    vertical-align: middle;
	
}
.Row>.Cell>.Progress {
    display: inline-block;
    max-width: 60%;
    height: 8px;
    border: 1px solid #b8bfbf;
    background-color: #c3c8c8;
    vertical-align: middle;
}
.Row>.Cell-Top>.Progress {
    display: inline-block;
    max-width: 60%;
    height: 8px;
    border: 1px solid #b8bfbf;
    background-color: #c3c8c8;
}

.GetTable td{
	/*border-right:none;
	border-top: 1px solid #d5d8d8;*/
	border:none;
}
.Content>.Row>.Cell {
    font-size: 18px;
    color: #555e5e;
    background-color: rgba(39, 120, 24, 0.05);
}
.Content>.Row>.Cell-Top{
	border-top: none;
    font: 400 13px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #555e5e;
    background-color: #FFFFFF;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
	
}

.google{
	padding-top: 163px;
	width: 100%;
	position : relative;
	background: #f2f2f2;
	padding-bottom: 70px;
}

.google-1{
	
    padding-bottom: 64px;
    
    background : #FFFFFF;
}
.sumerry{
	
}
.google-content{
	
}
.sumerry-google{
	/*padding-bottom: 40px;
    padding-top: 16px;*/
}

.first-text{
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0%;
    padding: 32px 32px 0 42px;
}
.first-text-children{
-webkit-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.hoho{
    -webkit-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 135%;
    margin-bottom: 32px;
    margin-right: 8px;
    margin-top: 8px;
    min-width: 0;
}
.what{
	color: rgba(0,0,0,0.54);
    font: 400 18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding-top: 8px;
}
.opacity{
	margin-left: auto;
	opacity: 50;
}

.shadow{
	position:relative;
	
	width:100%;
	border-left:3px solid #0C4DA2;
	z-index:0;
}
.shadow:hover{
	z-index:100;
	margin: 0 auto;
	width: 770px;
	box-shadow : 0px 0px 3px;
	border-left:3px solid #0C4DA2;
}


.content-top{
	position: relative;
    margin: 0 auto;
    /*width: 770px;*/
}
.top-top{
	font-size :35px;
	padding-bottom: 64px;
    background: #FFFFFF;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0%;
    padding: 32px 32px 30px 42px;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    flex-direction: column;
    display: flex;
}
.google-shadow{
	margin: 0 auto;
	box-shadow: 0 0 2px rgba(0,0,0,.12), 
	0 2px 4px rgba(0,0,0,.24);
	
	width: 770px;
}
.security{
	box-sizing: border-box;
    max-width: 100%;
    min-width: 0%;
    padding: 20px 32px 0 42px;
}
body{
	background: #f4f4f4
	font-size:16px;
}
.top-top{
    border-left: 3px solid #0C4DA2;
}
.ContentWrap>.Content>.Box>.Content>#ChampionStatsTable>.GetTable-Mp{
	width: 100%;
    table-layout: fixed;
}
.Row{
	vertical-align: middle;
}

.Content>.Row>.Cell-Oven {
    font-size: 18px;
    color: #555e5e;
    background-color: rgb(208, 208, 208);
}

