body {
	background-color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
   	min-width: 850px;
   	font-weight: 500;
   	font-size: 16px;
}
.page-wrapper{
	background: #f4f4f4;
	display: flex;
	justify-content: center;
	margin-top: 2%;
}
.page-wrapper .page-logo {
	position: absolute; 
	margin-top: 18px;
}
.page-wrapper .page-content{
	background: #fff;
	width: 600px;
	border-radius: 8px;
	margin: 90px 0;
}
.page-wrapper .page-content .page-form{
	padding: 30px 45px 55px 45px;
}
.page-wrapper .page-content .page-form h2{
	padding: 3px 0 20px;
	border-bottom: 1px solid #d9d9d9; 
	padding-bottom: 15px; 
	font-size: 18px;
}
.page-wrapper .page-content .page-form .email-form {
	position: relative;
    margin: 0 auto;
    background-color: #fff;
    padding: 27px 40px 0 40px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 16px;
}
.page-wrapper .page-content .page-form .email-form .email-logo-img {
	width: 260px;
    height: 97px;
    margin: 0 auto;
}
.page-wrapper .page-content .page-form .email-form .email-logo-img img {
	width: 100%;
    height: auto;
}
.page-wrapper .page-content .page-form .email-form .email-msg {
	padding-top: 28px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 28px;
}
.page-wrapper .page-content .page-form .email-form .email-msg .email-msg-first {
	color: #333;
    padding-bottom: 13px;
}
.page-wrapper .page-content .page-form .email-form .email-msg .email-msg-second {
	font-size: 13px;
    line-height: 19px;
    color: #999;
}
.page-wrapper .page-content .page-form .email-form .email-msg .email-msg-second span:nth-child(1) {
	color: #069fee;
}
.page-wrapper .page-content .page-form .page-form-input label,
.page-wrapper .page-content .page-form .form-row-birth label,
.page-wrapper .page-content .page-form .form-row label {
	display: block;
	padding-left: 10px;
	font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}
.page-wrapper .page-content .page-form .page-form-input,
.page-wrapper .page-content .page-form .form-row,
.page-wrapper .page-content .page-form .form-row-birth {
	position: relative;
	margin-bottom: 75px;
}
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_yy input {
	width: 32%;
    padding: 8.8px 15px;
    float: left;
    margin-right: 10px;
    border: none;
    border-bottom : 1px solid #ddd;
    transition: all 0.1s;
}
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_mm { 
	position: relative; 
    float: left;
    width: 32%;
} 
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_mm:before { /* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 15px; 
	margin-top: -1px; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 5px solid #333; 
} 
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_mm select { 
	width: 100%; 
	font-family: inherit; /* 폰트 상속 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	padding: 8.9px 15px;
	font-size: 12px;
	border: none;
    border-bottom : 1px solid #ddd;
    transition: all 0.1s;
}
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_dd input {
	width: 32%;
    padding: 8.9px 15px;
    margin-left: 10px;
    border: none;
    border-bottom : 1px solid #ddd;
    transition: all 0.1s;
    position: absolute;
}
.page-wrapper .page-content .page-form .page-form-input input[type=text],
.page-wrapper .page-content .page-form .form-row input[type=text] {
	width: 100%;
	padding : 10.5px 0px 10.5px 10px;
    /*padding: 10.5px 15px;*/
    border: none;
    border-bottom : 1px solid #ddd;
    transition: all 0.1s;
    position: absolute;
}
.page-wrapper .page-content .page-form input::placeholder
 {
	color: #999;
	font-size: 12px;
}
.page-wrapper .page-content .page-form .page-form-input input[type=text]:focus,
.page-wrapper .page-content .page-form .form-row input[type=text]:focus,
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_yy input:focus,
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_mm select:focus,
.page-wrapper .page-content .page-form .form-row-birth .mb_birth_dd input:focus  {
	border-bottom: 2px solid #1428a0;
	outline: none;
}
.page-wrapper .page-content .page-form .form-submit {
	text-align: center;
}
.page-wrapper .page-content .page-form .form-submit .emailFind {
	font-size: 16px;
    color: #fff;
    background: #1428a0;
    border-radius: 5px;
    width: 28%;
    height: 45px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    border: none;
    /* margin: 26px 142px 0; */
    cursor: initial;
    opacity: 0.5;
    margin-top: 20px;
}
.page-wrapper .page-content .page-form .form-pwd-find {
	position: relative;
    padding-top: 4px;
    padding-left: 12px;
}
.page-wrapper .page-content .page-form .form-pwd-find .pwdText {
	color: #999;
    position: relative;
    padding-left: 10px;
    font-size: 12px;
}
.page-wrapper .page-content .page-form .form-pwd-find .pwdButton {
	margin-right: 20px;
    margin-top: -2px;
    float: right;
    font-size: 12px;
    color: #666;
    line-height: 1;
    font-weight: normal;
    border: 1px solid #d1d1d1;
    background: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 4px 10px;
}
.check {
	position: absolute;
    margin-top: 40px;
    margin-left: 6px;
    font-size: 12px;
}
@media screen and (max-width: 767px) {
	.page-content {
	    margin: 175px 20px;
	}
}