@charset "utf-8";

body {
	font-family: "Open Sans", sans-serif;
	min-width: 850px;
	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	background-color: #f4f4f4;
}

hr {
	display: none;
	width: 795px;
	margin-left: 25px;
}

.research_header {
	width: 100%;
	background-color: #6bceff;
	height: 200px;
}

.research_header .logo {
	width: 430px;
	margin: 0 auto;
}

#content {
	clear: both;
	float: none;
	background-color: #f4f4f4;
}

#content #form_area {
	width: 850px;
	margin: 0 auto;
	position: relative;
}

#content #form_area #remote {
	background-color: #fff;
	height: 208px;
	width: 50px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -60px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: all 1s;
}

#content #form_area #remote .remote_btn {
	text-align: center;
	padding: 15px 0 0 0;
}

#content #form_area #remote .remote_btn button {
	border-radius: 100%;
	padding: 10px;
	background-color: #0C4DA2;
	border: none;
	color: #fff;
	width: 33px;
	height: 33px;
}

#content .research_content {
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	border-left: 3px solid #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 0 0 20px 0;
}

#content .research_content.active {
	border-left: 3px solid #0C4DA2;
}

#research_term {
	padding: 20px;
}

#research_term #term_title {
	display: inline-block;
	width: 25%;
	padding: 0 0 20px 0;
}

#date_timepicker_start, #date_timepicker_end {
	width: 15%;
	box-sizing: border-box;
	text-align:center;
	padding:5px;
	margin: 0 10px;
	border: none;
	border-bottom: 2px solid #000;
	font-size: 17px;
	transition: all 0.5s;
}

#content .research_content #category{
	display: inline-flex;
    padding: 0 20px;
}

#content .research_content #category_box {
	padding: 0 20px 0 20px;
	width:75%;
}

#content .research_content #cate_title{
	display: inline-block;
	width:25%;
}
#content .research_content #category_box input{
	 -webkit-appearance: none;
  	 border-radius: 50%;
	 width: 16px;
	 height: 16px;
 	 border: 2px solid #999;
	 transition: 0.2s all linear;
	 outline: none;
	 margin-right: 5px;
	 position: relative;
	 top: 4px;
}
#content .research_content #category_box input:checked{
	border: 8px solid #0C4DA2;
}
#content .research_content #category_box label {
	display: inline-block;
	width: 29%;
	height: 30px;
}

#content .bottom {
	padding: 50px;
}

#datepicker:focus {
	border: 2px solid #0C4DA2;
}

#content .research_content>input[type=text] {	
	width: 800px;
	box-sizing: border-box;
	padding: 15px;
	margin-left: 20px;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 25px;
	transition: all 0.5s;
}

#content input[type=text]:focus {
	border-bottom: 2px solid #0C4DA2;
	outline: none;
}

#item_box {
	padding: 10px 20px 10px 20px;
}

#item_box .item_individual>input[type=text] {
	padding: 5px;
	box-sizing: border-box;
	width: 84%;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 15px;
	transition: all 0.5s;
}
#item_box .item_individual>input[type=radio]{
	
	 width: 20px;
	 height: 38px;
 	
}

#item_box .item_individual>input[type=text]:focus {
	border-bottom: 2px solid #0C4DA2;
	outline: none;
}

#item_box .item_individual .disabled {
	background-color: #fff;
	outline: none;
}
/*
 기타 라벨 이었던 것 
#item_box .item_individual label{
	display: inline-block;
    margin: 0 10px;
    padding: 5px;
    width: 85%;
}
*/
#item_box .item_individual .button_box {
	padding: 5px;
	display: none;
}

#item_box .active_individual .button_box {
	padding: 5px;
	display: inline-block;
}

#content .research_content button {
	background-color: #0C4DA2;
	border: none;
	color: #fff;
	width: 33px;
	height: 33px;
}

#content .research_content .bottom_box {
	display: none;
	bottom: 20px;
	margin-left: 80%;
	padding: 0 0 0 18px;
}

#content .research_content .active_btn {
	display: inline-block;
}

#content .research_content .bottom_box .bottom_button_box {
	padding: 5px;
	display: inline-block;
}

#top_box {
	padding: 20px 20px 0 20px;
	width: 100%;
}

#left_top_box {
	display: inline-block;
}

#left_top_box #prev {
	color: #fff;
}

#left_top_box input[type=text] {
	margin-left: 20px;
	background: transparent;
	border-bottom: 2px solid transparent;
	width: 200px;
	border: none;
	font-size: 20px;
	color: #fff;
	transition: all 0.3s;
}

#left_top_box input[type=text]:focus {
	outline: none;
	border-bottom: 2px solid #fff;
}

#right_top_box {
	display: inline-block;
	float: right;
}

#right_top_box a {
	color: #fff;
}

#right_top_box button {
	background-color: transparent;
	border: none;
	color: #fff;
	width: 50px;
	height: 33px;
}




.research_content .content_box{
	padding: 40px 20px 0 20px;
}
#research_subject{
	font-size:35px;
}
#research_info{
	padding: 0 0 20px 0;
	margin-left:5px;
}
#research_ctegory{
	display:inline-block;
	width: 10%;
}
.research_content .content_box .research_turm{
	display:inline-block;
}
.research_content .content_box .research_qst{
	font-size:25px;
	padding: 30px 0 20px 0;
}
.research_content .content_box .research_item{
	padding:10px 5px 10px 5px;
}
.research_content .content_box .research_item input{
  -webkit-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.research_content .content_box .research_item input:checked{
	border: 8px solid #0C4DA2;
}

.research_content .content_box .research_item label{
	margin-left:5px;
}
.research_content .answer_box{
	bottom: 20px;
	margin: 0 auto;
	width:240px;
	padding:20px;
}
.research_content .answer_box > #research_answer{
	width:200px;
	background-color: #0C4DA2;
}
