body {
	background-color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
   	min-width: 850px;
   	font-weight: 500;
   	font-size: 16px;
}
.page-content {
	padding-top: 150px;
	display: flex;
    justify-content: center;
}
.page-content .list-content {
	width: 850px;
}
.page-content .list-content .detail-list {
	min-height: 722px;
}
.page-content .list-content .detail-list .tab-content #test{
	padding-top: 15px;
}
.page-content .list-content .detail-list .tab-content #test ul {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 1px solid #ddd;
    transition: border-color .2s;
    cursor: pointer;
}
.page-content .list-content .detail-list .tab-content #test li {
    width: 250px;
    background: #fff;
    height: 310px;
    display: flex;
}
.page-content .list-content .detail-list .tab-content #test ul li a img {
    width: 250.5px;
    height: 200px;
}
.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img{
    position:relative;
}

.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img p{
    z-index: 100;
    position: absolute;
    color: #222;
    font-size: 14px;
    font-weight: 550;
    right: 10px;
    padding-top: 15px;
}
.page-content .list-content .detail-list .tab-content #test ul:hover {
	border: 1px solid #1428a0;
}
.page-content .list-content .detail-list .tab-content #test ul:hover img{
	filter: brightness(70%);
}
.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_nm { 
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 550;
    color: #1428a0;
}
.page-content .list-content .detail-list .tab-content #test ul li a .subj_nm .subj_nm_span { 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 32px;
    font-size: 16px;
    font-weight: 700;
    word-break: break-all;
}
.page-content .list-content .detail-list .tab-content #test ul li a span:nth-child(4) { 
    display: block;
    padding-left: 112px;
    padding-top: 14px;
    font-size: 14px;
    color: #222;
}
.page-content .list-content .detail-list h2 {
    position: relative;
    font-size: 30px;
    padding: 3px 0 7px;
    margin-left: 15px;
}
.page-content .list-content .detail-list h2::after {    
    background: #1428a0;
    width: 97.7%;
    height: 2px;
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
}
.page-content .list-content .detail-list .list-head span a {
	color: #fff;
	position: absolute;
    margin-left: 681px;
    margin-top: -46px;
    background: #1428a0;
    width: 150px;
    height: 45px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.page-content .list-content .detail-list .tab-content input[type=button]{ 
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #888;
    width: 406px;
    height: 50px;
    line-height: 38px;
    background: #fff;
    padding: 5px;
    margin-right: -6px;
    width: 49%;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: none;
}
.page-content .list-content .detail-list .tab-content .paging ul{
	text-align: center;
}
.page-content .list-content .detail-list .tab-content .paging li{
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin: 0 1px;
    box-sizing: border-box;
    line-height: 40px;
    vertical-align: top;
}
.page-content .list-content .detail-list .tab-content .tab-button {
	margin-left: 15px;
}
.page-content .list-content .detail-list .tab-content .content {
	display: inline-block;
}

.page-content .list-content .detail-list .tab-content .paging ul .page-item a {
	color: #888;
	display: inline-block;
    width: 100%;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item-move a {
	transition: border .2s;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 -1px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    vertical-align: top;
    color: #888;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item a:hover{
	background-color: #1428a0;
    cursor: pointer;
	color: #fff;
	opacity: 0.4;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item-move a:hover{
    cursor: pointer;
	color: #1428a0;
	border: 1px solid #1428a0;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item.active .page-link{
	background-color: #1428a0;
    font-style: normal;
    color: #fff;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item.active .page-link:hover{
	cursor: auto;
}
.subj_nm { 
	position: relative; 
	display: inline-block; 
} 
.tooltip { 
	visibility: hidden;
    width: 256px;
    height: auto;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    top: 146%;
    left: 132px;
    margin-left: -105px;
    font-size: 12px;
    word-break: break-all;
} 
.tooltip::after { 
	content: "";
    position: absolute;
    bottom: 100%;
    left: 13%;
    margin-left: -10px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #222 transparent;
} 
.research_list:hover .tooltip { 
	visibility: visible; 
}