body {
	background-color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
   	min-width: 850px;
   	font-weight: 500;
   	font-size: 16px;
}
.page-content {
	padding-top: 150px;
	display: flex;
    justify-content: center;
}
.page-content .list-content {
	width: 850px;
}
.page-content .list-content .detail-list .tab-content #test{
	padding-top: 15px;
}
.page-content .list-content .detail-list .tab-content #test ul {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 1px solid #ddd;
    transition: border-color .2s;
    cursor: pointer;
}
.page-content .list-content .detail-list .tab-content #test li {
    /*width: 391px;*/
    width: 250px;
    /*text-align: center;*/
    background: #fff;
    /*height: 360px;*/
    height: 310px;
    display: flex;
    /*padding: 10px;*/
}
/*
.page-content .list-content .detail-list .tab-content #test ul li a span {
	display: block;
    height: 60px;
    /*padding: 10px;
    margin-bottom: -30px;
    margin-top: 5px;
    
    margin-bottom: -20px;
    margin-top: 10px;
    padding-left: 10px;
}*/
/*
.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img {
	width: 100%;
    height: 250px;
}*/
.page-content .list-content .detail-list .tab-content #test ul li a img {
	/* width: 391px;
    height: 250px; */
    width: 250.5px;
    height: 200px;
    /*border-bottom: 1px solid #ddd;*/
}
.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img{
    position:relative;
}

.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img p{
    z-index: 100;
    position: absolute;
    color: #222;
    /*font-size: 16px;*/
    font-size: 14px;
    font-weight: bold;
    right: 10px;
    padding-top: 5px;
}
/*
.page-content .list-content .detail-list .tab-content #test ul li a .ctgr_img p{
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    top: 0px;
}*/
/*
.page-content .list-content .detail-list .tab-content #test ul li a img:hover {
	filter: brightness(70%);
}*/

/*
.page-content .list-content .detail-list .tab-content #test ul li a img:hover {
	opacity:0;
}*/
.page-content .list-content .detail-list .tab-content #test ul:hover {
	border: 1px solid #1428a0;
}
.page-content .list-content .detail-list .tab-content #test ul:hover img{
	filter: brightness(70%);
}
.page-content .list-content .detail-list .tab-content #test ul li a span:nth-child(2) { 
    display: block;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #222;
}
.page-content .list-content .detail-list .tab-content #test ul li a .subj_nm span { 
	/*
	display: block;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 392px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    font-size: 16px;
}
.page-content .list-content .detail-list .tab-content #test ul li a span:nth-child(4) { 
	display: block;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 14px;
    color: #222;
}
.page-content .list-content .detail-list h2 {
    position: relative;
    font-size: 30px;
    padding: 3px 0 7px;
    /*margin-bottom: 40px;*/
    margin-left: 15px;
}
.page-content .list-content .detail-list h2::after {    
    background: #1428a0;
    width: 97.8%;
    height: 2px;
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
}
.page-content .list-content .detail-list .list-head span {
	position: absolute;
    margin-left: 681px;
    margin-top: -46px;
    background: #1428a0;
    width: 150px;
    height: 45px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.page-content .list-content .detail-list .list-head span a {
	color: #fff;
}
.page-content .list-content .detail-list .tab-content {
	/*position: relative;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: -38px;*/
}
.page-content .list-content .detail-list .tab-content input[type=button]{ 
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #888;
    width: 406px;
    height: 50px;
    line-height: 38px;
    background: #fff;
    padding: 5px;
    margin-right: -6px;
    width: 409px;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: none;
}
/*
.page-content .list-content .detail-list .tab-content input[type=button]:hover{
    background-color: #dcdcdc;
}*/
/*
.page-content .list-content .detail-list .tab-content a:visited {
	background: #000;
}*/

.page-content .list-content .detail-list .tab-content #test a {
	/*width: 100%;*/
}
/*
.page-content .list-content .detail-list .tab-content .paging{
	padding-top: 26%;
}*/
.page-content .list-content .detail-list .tab-content .paging ul{
	text-align: center;
	/*margin-top: 30%;*/
}
.page-content .list-content .detail-list .tab-content .paging li{
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin: 0 1px;
    /*padding: 0 5px;*/
    box-sizing: border-box;
    line-height: 40px;
    vertical-align: top;
}
/*
.page-content .list-content .detail-list .tab-content .paging li:hover{
	background-color: #888;
    font-style: normal;
    cursor: pointer;
}*/
/*
.page-content .list-content .detail-list .paging a:hover {
    transition: background-color .2s;
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin: 0 -1px;
    padding: 0 5px;
    box-sizing: border-box;
    line-height: 40px;
    color: #888;
    vertical-align: top;
    text-align: center;
}*/
.page-content .list-content .detail-list .tab-content .tab-button {
	margin-left: 15px;
}
.page-content .list-content .detail-list .tab-content .content {
	display: inline-block;
}

.page-content .list-content .detail-list .tab-content .paging ul .page-item a {
	color: #888;
	display: inline-block;
    width: 100%;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item-move a {
	transition: border .2s;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 -1px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    vertical-align: top;
    color: #888;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item a:hover{
	background-color: #888;
    cursor: pointer;
	color: #fff;
}
.page-content .list-content .detail-list .tab-content .paging ul .page-item-move a:hover{
    cursor: pointer;
	color: #000;
	border: 1px solid #000;
}

.page-content .list-content .detail-list .tab-content .paging ul .page-item.active .page-link{
	background-color: #222;
    font-style: normal;
    color: #fff;
}
/*
.page-content .list-content .detail-list .tab-content .tab-button a:visited {
	background-color: #222;
    font-style: normal;
    color: #fff;
}*/
/*
.page-content .list-content .detail-list .tab-content .paging li a:link {
	background-color: #222;
    font-style: normal;
    color: #fff;
}*/



