@charset "utf-8";

body {
	min-width: 850px;
	vertical-align: top;
	background-color: #f4f4f4;
}
button{
	outline:none;
}
hr {
	display: none;
	width: 795px;
	margin-left: 25px;
	border: 0.3px dotted
}
#hr{
	height:10px;
}

.research_header {
	width: 100%;
	background-color: #1428a0;
	height: 150px;
}

.research_header .logo {
	width: 200px;
	margin: 0 auto;
}
.research_header .logo img{
	width:200px;
}
#content {
	clear: both;
	float: none;
	background-color: #f4f4f4;
}

#content #form_area {
	width: 850px;
	margin: 0 auto;
	position: relative;
}

#content #form_area #remote {
	background-color: #fff;
	height: 165px;
	width: 55px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -65px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: all 1s;
}

#content #form_area #remote .remote_btn {
	text-align: center;
	padding: 15px 0 0 0;
}

#content #form_area #remote .remote_btn button {
	padding: 10px;
	border: none;
	color: #fff;
	width: 45px;
	height: 35px;
}

#content .research_content {
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	border-left: 3px solid #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 0 0 10px 0;
}

#content .research_content.active {
	border-left: 3px solid #1428a0;
}

#research_term {
	padding: 20px;
}

#research_term #term_title {
	display: inline-block;
	width: 25%;
	padding: 0 0 20px 0;
}

#date_timepicker_start, #date_timepicker_end {
	width: 15%;
	box-sizing: border-box;
	text-align:center;
	padding:5px;
	margin: 0 10px;
	border: none;
	border-bottom: 1px dotted #000;
	font-size: 17px;
	transition: all 0.5s;
}

#content .research_content #category{
	display: inline-flex;
    padding: 0 20px;
}

#content .research_content #category_box {
	padding: 0 20px 0 20px;
	width:75%;
}

#content .research_content #cate_title{
	display: inline-block;
	width:25%;
}
#content .research_content #category_box input{
	 -webkit-appearance: none;
  	 border-radius: 50%;
	 width: 16px;
	 height: 16px;
 	 border: 2px solid #999;
	 transition: 0.2s all linear;
	 outline: none;
	 margin-right: 5px;
	 position: relative;
	 top: 4px;
}
#content .research_content #category_box input:checked{
	border: 8px solid #1428a0;
}
#content .research_content #category_box label {
	display: inline-block;
	width: 28%;
	height: 30px;
}

#content .bottom {
	padding: 50px;
}

#datepicker:focus {
	border: 2px solid #1428a0;
}

#content .research_content>input[type=text] {	
	width: 800px;
	box-sizing: border-box;
	padding: 15px;
	margin-left: 20px;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 25px;
	transition: all 0.5s;
}

#content .research_content>#qst_content{
	width: 585px;
	box-sizing: border-box;
	padding: 15px;
	margin-left: 20px;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 25px;
	transition: all 0.5s;
}

select { 
	width: 200px; /* 원하는 너비설정 */ 
	padding: .8em .5em; /* 여백으로 높이 설정 */ 
	margin:15px;
	font-family: inherit; /* 폰트 상속 */ 
	background: url('/resources/img/arrow.png') no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
	border: 1px solid #999; 
	border-radius: 0px; /* iOS 둥근모서리 제거 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
	outline:none;
}


#content input[type=text]:focus,#content .research_content>#qst_content:focus {
	border-bottom: 2px solid #1428a0;
	outline: none;
}

#item_box {
	padding: 10px 20px 10px 20px;
}

#item_box .item_individual .disabled {
	background-color: #fff;
}
#item_box .item_individual > #disabled_sel {
	width: 500px;
	border-bottom: 1px solid #000;
	background-color: #fff;
	margin-bottom: 15px;
}

#item_box .item_individual>input[type=text] {
	padding: 5px;
	box-sizing: border-box;
	width: 84%;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 15px;
	transition: all 0.5s;
}
#item_box .item_individual>input[type=radio]{
	 width: 20px;
	 height: 38px;	
}

#item_box .item_individual>input[type=text]:focus {
	border-bottom: 2px solid #1428a0;
	outline: none;
}

/*
 기타 라벨 이었던 것 
#item_box .item_individual label{
	display: inline-block;
    margin: 0 10px;
    padding: 5px;
    width: 85%;
}
*/
#item_box .item_individual .button_box {
	padding: 5px;
	display: none;
}

#item_box .active_individual .button_box {
	padding: 5px;
	display: inline-block;
}

#content .research_content button {
	border: none;
	color: #fff;
	width: 33px;
	height: 33px;
}

#content .research_content .bottom_box {
	display: none;
	margin-left: 85%;
	padding: 0 0 0 17px;
}

#content .research_content .active_btn {
	display: inline-block;
}

#content .research_content .bottom_box .bottom_button_box {
	padding: 5px;
	display: inline-block;
}

#top_box {
	padding: 20px 20px 0 20px;
	width: 100%;
}

#left_top_box {
	display: inline-block;
}

#left_top_box #prev_btn {
	background-color: transparent;
	border: none;
	color: #fff;
	width:33px;
	height: 33px;
}

#left_top_box input[type=text] {
	margin-left: 20px;
	background: transparent;
	border-bottom: 2px solid transparent;
	width: 250px;
	border: none;
	font-size: 20px;
	color: #fff;
	transition: all 0.3s;
}

#left_top_box input[type=text]:focus {
	outline: none;
	border-bottom: 2px solid #fff;
}

#right_top_box {
	display: inline-block;
	float: right;
}

#right_top_box a {
	color: #fff;
}

#right_top_box button {
	background-color: transparent;
	border: none;
	color: #fff;
	width: 50px;
	height: 33px;
}
/*btn img*/
#prev_btn{
	background: url( "/resources/img/bicon02_2.png" ) no-repeat 50% 50%;
}
#palette{
	
}
#qst_btn{
	background: url( "/resources/img/bicon05_1.png" ) no-repeat 50% 50%;
}
#img_btn{
	background: url( "/resources/img/bicon09_1.png" ) no-repeat 50% 50%;
}
#qst_del{
	background: url( "/resources/img/bicon10_1.png" ) no-repeat 50% 50%;
}
#delete_form{
	background: url( "/resources/img/bicon03_2.png" ) no-repeat 50% 50%;
}
#item_img{
	background: url( "/resources/img/bicon09_1.png" ) no-repeat 50% 50%;
}
#item_del{
	background: url( "/resources/img/bicon07_1.png" ) no-repeat 50% 50%;
}
#qst_add{
	background: url( "/resources/img/bicon05_1.png" ) no-repeat 50% 50%;
}
.active .active_btn .bottom_button_box > #qst_etc{
	border: 2px solid #000;
    background-color: #fff;
    color: #1428a0;
    font-weight: 700;
    width: 30.5px;
    height: 30.5px;
}

/*content*/
.research_content .content_box{
	padding: 40px 20px 0 20px;
}
#research_subject{
	font-size:35px;
}
#research_info{
	padding: 0 0 20px 0;
	margin-left:5px;
}
#research_ctegory{
	display:inline-block;
	width: 10%;
}
.research_content .content_box .research_turm{
	display:inline-block;
}
.research_content .content_box .research_qst{
	font-size:25px;
	padding: 30px 0 20px 0;
}
.research_content .content_box .research_item{
	padding:10px 5px 10px 5px;
}
.research_content .content_box .research_item input[type=radio]{
  -webkit-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.research_content .content_box .research_item input[type=text]{
	box-sizing: border-box;
	width: 45%;
	height: 25px;
	margin-left: 5px;
	border: none;
	border-bottom: 1px dotted #000;
	font-size: 15px;
	transition: all 0.5s;
}
.research_content .content_box .research_item input:checked{
	border: 8px solid #1428a0;
}

.research_content .content_box .research_item label{
	margin-left:5px;
}
.research_content .answer_box{
	bottom: 20px;
	margin: 0 auto;
	width:240px;
	padding:20px;
}
.research_content .answer_box > #research_answer{
	width:200px;
	background-color: #1428a0;
}

